@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*Remove X on search bar input for chrome*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
/*******/

body{
    font-family: 'Inter', sans-serif;
}

.cont{
    background: #F1F1F1;
}

.btn{
    background: #3AE1B1;
    color: white;
}

.btn:hover{
    background: #1ec898;
    color: white;
}

h5, h1{
    color: #757575;
}

.card-text{
    color: #3AE1B1;
}

/*search icon*/
.fa-search{
    display: block;
    margin-left: -15%;

}


